.ticket-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .ticket-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.25rem 0.5rem;
        background-color: var(--background-100);
        border-radius: 50px;
        gap: 0.5rem;
        transition: 0.1s ease;
        cursor: pointer;
        outline: 2.5px solid transparent;
        .color {
            width: 1rem;
            aspect-ratio: 1;
            border-radius: 50px;
            transition: 0.3s ease;
        }
        .color:hover {
            background-color: rgb(255, 94, 94);
        }
    }
    .ticket-type:hover {
        outline: 2.5px solid var(--background-300);
    }
    .selected {
        outline: 2.5px solid var(--background-300);
    }
}

.ticket-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .flex-button {
        margin-top: 2rem;
    }
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-back {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    padding: 0.2rem 0.25rem;
}

.buttons-confirm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.delete-button {
    background-color: var(--background-300);
    border-color: var(--background-400);
}

.gray-out {
    filter: brightness(0.8);
}

.selected-button {
    filter: brightness(0.9);
}
